* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.main-content {
  /* border: 1px solid red; */
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* Header */

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
  /* border: 1px solid red; */
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  /* background-color: green; */
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-align: center;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: inline-block;
  content: "";
  width: 12px;
  height: 2px;
  /* flex-shrink: 0; */
  border-radius: 1px;
  background: #171100;
}

.btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
